node_modules/
.env
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
apps/api/data/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# OS / IDE
.DS_Store
Thumbs.db
*.log
